doctype html
html(lang="en")
  head
    title Page Not Found
    link(rel='stylesheet', href='/static/style.css')
  body
    header
      h1 Error: Not found.
    p The book or page you're looking for does not appear to exist. 