doctype html
html(lang="en")
  head
    title Page Not Found
  body
    header
      h1 Error: Not found.
      p The book or page you're looking for does not appear to exist. 
    block content
  footer
   p Sequelize/Express Based Library Site.