extends layout.pug

block content
  section.content
  table.book-results
    tr
      th Title
      th Author
      th Genre
      th Year
    each book in books
      tr
        td
          a(href= "/update_book/" + book.id)=book.title
        td= book.author
        td= book.genre
        td= book.year