doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/static/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    body
      main
        block header
        div.header
          header.header
            h1 Books
            div.search-form
              form(action="/search_results" method="get")
                p
                  input(id="query" name="query" type="search" value="Title, Author, etc.")
                  input(type="submit" value='Search')
              div.create-new
                a(class="button" href="/new_book") Create New Book
    block content
  footer
   p Sequelize/Express Based Library Site.