doctype html
html
  head
    title #{title}
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='/static/new-style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    body
      main
        block header
        header
          div.header
              h1.header-title Library of Unreal Books
              div.header-functions
                div.search-form
                  form(action="/search_results" method="get" class="search")
                    input(id="query" name="query" type="search" value="Title, Author, etc.")
                    button(type="submit")
                      i.fa.fa-search  
                div.create-new
                  a(class="button" href="/new_book") Create New Book
    block content
      footer.footer
      p Sequelize/Express Based Library Site.