extends layout.pug

block content
  section#content
    div.no-results
        h1 Sorry, no books found for for '#{search}'.
        h3 Try searching for another book or adding the book to the library.